:root {
  --open-sans: "Open Sans", sans-serif;
  --nunito-sans: "Nunito", sans-serif;

  --accent-light: #fbb731;
  --aceent-dark: #f37335;
  --dark: #443737;
  --light: #fff;
  --light-rgb: 255, 255, 255;
}
body {
  font-family: var(--open-sans);
}
a {
  text-decoration: none;
}

/*Header*/

.header {
  border-top: 1px solid #dedede;
}
.header-wrapper {
  display: flex;
  align-items: center;
  gap: 56px;
  padding: 26px 0;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.burger-menu {
  display: none;
  width: 34px;
  height: 22px;
  background-image: url(/images/menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
}
.logo {
  display: block;
  width: 176px;
  height: 56px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.nav {
  flex-grow: 1;
  display: flex;
  gap: 47px;
  margin-left: min(10vw, 140px);
}
.nav._modal {
  display: none;
}
.nav-link {
  color: var(--dark);
  font-weight: 600;
  font-size: 20px;
  transition: 0.2s;
}
.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 1.5px;
}
.nav-link:hover::after {
  background-color: var(--accent-light);
}
.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark);
  font-weight: 700;
  font-size: 15px;
  position: relative;
}
.cart::before {
  content: "";
  display: block;
  width: 30px;
  height: 22px;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  color: var(--light);
  background-color: var(--aceent-dark);
  font-size: 10px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 17px;
}

.button-up {
  font-family: var(--nunito-sans);
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark);
  background: var(--accent-light);
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  padding: 5px 10px;
}

.button-up:hover {
  background: var(--aceent-dark);
  cursor: pointer;
}

.button-up.hidden {
  opacity: 0;
}

.button-up.visible {
  opacity: 1;
}

/*Hero*/

.hero {
  display: flex;
  justify-content: center;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding-top: 142px;
  padding-bottom: 142px;
}

.hero-contacts {
  display: flex;
  justify-content: center;
  background-image: url(/images/contacts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding-top: 142px;
  padding-bottom: 142px;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
  color: rgba(var(--light-rgb), 0.5);
  font-size: 15px;
  margin: 0;
}

.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: -12px;
}
.breadcrumbs-link {
  color: rgba(var(--light-rgb), 0.5);
  transition: 0.2s;
}
.breadcrumbs-link:hover {
  color: var(--accent-light);
}
.hero-title {
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 79px;
  color: var(--light);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 18px;
}
.hero-description {
  max-width: 320px;
  font-size: 15px;
  line-height: 160%;
  margin: 0 auto;
  color: rgba(var(--light-rgb), 0.8);
}

/*Banner*/

.banner {
  margin-top: 140px;
}

.banner-wrapper {
  background-color: #ccc;
  padding: 100px;
  background: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--aceent-dark);
  width: 95px;
  height: 28px;
  border-radius: 10px;
  font-family: var(--open-sans);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: var(--light);
}

.banner-title {
  font-family: var(--nunito-sans);
  font-weight: 900;
  font-size: 60px;
  line-height: 127%;
  text-transform: uppercase;
  color: var(--light);
  margin: 0;
}

.banner-description {
  font-family: var(--open-sans);
  max-width: 320px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: rgba(var(--light-rgb), 0.8);
  margin-top: 13px;
}

.banner-btn {
  display: block;
  font-family: var(--nunito-sans);
  width: 170px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark);
  background: var(--accent-light);
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  padding: 22px 0;
}

.banner-btn:hover {
  background: var(--aceent-dark);
  cursor: pointer;
}

/* Menu*/

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 34px;
}

.menu-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 44px;
  line-height: 127%;
  text-transform: uppercase;
  color: var(--dark);
}

select {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 15px;
  flex-basis: 279px;
  appearance: none;
  background-image: url(/images/menu/menu-choise.svg);
  background-size: 14px 10px;
  background-repeat: no-repeat;
  background-position: 89% center;
  line-height: 160%;
  color: var(--dark);
  border-radius: 20px;
  border: 1px solid rgb(68, 55, 55, 0.2);
  padding: 13px 30px;
}

.menu-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px 20px;
}

.menu-thumb {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}

.menu-thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.menu-name {
  font-family: var(--nunito-sans);
  font-weight: 600;
  font-size: 30px;
  line-height: 127%;
  text-align: center;
  color: var(--dark);
  margin-top: 19px;
  margin-bottom: 5px;
}

.menu-price {
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: rgba(68, 55, 55, 0.5);
  margin-top: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark);
  height: 38px;
  width: 152px;
  border-radius: 5px;
  border: none;
  background-color: var(--accent-light);
  margin: 0 auto;
  padding: 0 23px;
  transition: 0.2s;
}

.menu-btn::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 18px;
  height: 18px;
  background-image: url(../images/cart2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-btn:hover {
  background-color: var(--aceent-dark);
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: #1e2f40;
  padding-top: 113px;
  padding-bottom: 120px;
  margin-top: 142px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer-logo {
  display: block;
  width: 63px;
  height: 56px;
  background-image: url(/images/footer-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-title {
  font-family: var(--nunito-sans);
  font-weight: 800;
  font-size: 20px;
  line-height: 190%;
  text-transform: uppercase;
  color: var(--light);
  margin-top: 0px;
  margin-bottom: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-nav a {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: rgba(var(--light-rgb), 0.9);
  transition: 0.2s;
}

.footer-nav a:hover {
  color: var(--aceent-dark);
}

.footer-list {
  list-style-type: none;
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 15px;
  line-height: 160%;
  color: var(--light);
  padding-left: 0;
  margin: 0;
}

.footer-list span {
  display: block;
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: rgba(var(--light-rgb), 0.9);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-item:last-child {
  flex-basis: 194px;
}

.footer-phone {
  display: block;
  font-family: var(--nunito-sans);
  font-weight: 800;
  text-align: right;
  font-size: 20px;
  line-height: 190%;
  text-transform: uppercase;
  color: var(--accent-light);
  transition: 0.2s;
}

.footer-phone._mobile {
  display: none;
}

.footer-phone:hover {
  color: var(--aceent-dark);
}

/* Contacts */

.contact-main {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1057px;
  margin: 140px auto 60px;
}

.contact-map {
  flex-basis: 680px;
}

.contact-adress {
  flex-basis: calc(100% - 680px - 20px);
  list-style-type: none;
  padding-left: 0;
}

.contact-adress > li:not(:last-child) {
  margin-bottom: 26px;
}

.contact-adress > li > span {
  display: block;
  font-size: 15px;
  line-height: 160%;
}

.contact-adress > li > span:first-child {
  font-family: var(--nunito-sans);
  font-size: 20px;
  font-weight: 700;
  line-height: 190%;
  text-transform: uppercase;
  margin-left: 3px;
  margin-bottom: 4px;
}

.contact-adress > li > span:last-child {
  font-weight: 700;
  margin-top: 10px;
}

.contact-additionally {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1057px;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
}

.contact-additionally > li {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-additionally > li::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
  background-image: url(../images/contact/01.svg);
}
.contact-additionally > li:nth-child(2):before {
  background-image: url(../images/contact/02.svg);
}
.contact-additionally > li:nth-child(3):before {
  background-image: url(../images/contact/03.svg);
}

.contact-info,
.contact-tel {
  display: block;
  color: var(--dark);
  font-family: var(--nunito-sans);
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin-top: 5px;
}

.contact-tel {
  transition: var(--tr);
}

.contact-tel:hover {
  color: var(--accent-light);
}

/* Media */

@media (max-width: 1080px) {
  .header-wrapper {
    gap: 40px;
  }
  .nav {
    margin-left: 0;
    gap: min(3vw, 30px);
  }
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
    height: 48px;
  }
  .header-wrapper {
    gap: 40px;
  }
  .nav {
    gap: 22px;
  }
  .banner {
    margin-top: 72px;
  }
  .banner-wrapper {
    padding: 100px 40px;
  }
  .menu-header {
    margin-top: 80px;
  }
  .menu-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-box._additionally {
    grid-template-columns: 1fr;
  }
  .menu-item._additionally {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .menu-item._additionally .menu-thumb {
    flex-basis: calc(60%-20px);
    height: 260px;
    margin-bottom: 0;
  }
  .menu-item._additionally .menu-info {
    flex-basis: 40%;
  }
  .footer {
    padding-top: 62px;
    padding-bottom: 71px;
  }
  .footer-nav {
    margin-bottom: 20px;
  }
  .footer-item:last-child {
    display: none;
  }
  .footer-phone._mobile {
    display: block;
    text-align: left;
  }
}

@media (max-width: 730px) {
  .header-wrapper {
    gap: 21px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .nav {
    display: none;
  }
  .nav._modal {
    display: flex;
    flex-direction: column;
  }
  .nav-link::after {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .logo {
    flex-grow: 1;
    width: 116px;
    height: 37px;
  }
  .modal {
    width: 100%;
    max-width: 500px;
    background-color: #fff8dc;
    padding: 40px 15px;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    transition: 0.2s;
  }
  .modal-close {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(/images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .hero {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .hero-title {
    font-size: 38px;
    margin-top: 33px;
  }
  .hero-description {
    font-size: 12px;
  }
  .banner {
    margin-top: 33px;
  }
  .banner-wrapper {
    padding: 65px 14px;
  }
  .menu-title {
    font-size: 27px;
  }
  select {
    font-size: 12px;
    flex-basis: 136px;
    width: 136px;
    background-position: 93% center;
    border-radius: 22px;
    padding: 13px 15px;
  }
  .menu-box {
    gap: 24px 20px;
  }
  .menu-thumb {
    height: 50vw;
    margin-bottom: 10px;
  }
  .menu-item._additionally .menu-thumb {
    height: 30vw;
  }
  .menu-name {
    font-size: 13px;
    margin-bottom: 8px;
  }
  .menu-price {
    font-size: 12px;
    margin-bottom: 14px;
  }
  .menu-btn {
    padding: 11px 22px;
  }
  .footer {
    margin-top: 80px;
  }
  .footer-wrapper {
    flex-direction: column;
    gap: 35px;
    position: relative;
  }
  .footer-logo {
    margin-bottom: 9px;
  }
  .footer-phone._mobile {
    position: absolute;
    top: -13px;
    right: 0;
  }
  .footer-phone._mobile + .footer-phone._mobile {
    top: 24px;
  }
  .footer-title {
    font-size: 18px;
  }
  .footer-nav {
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .menu-item._additionally .menu-thumb {
    flex-basis: calc(100% - 130px - 20px);
    height: 30vw;
  }
  .menu-item._additionally .menu-info {
    flex-basis: 130px;
  }
}
